{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react/prop-types": 1,
        "no-unused-vars": 1
      }
}